{% extends "pizza/base.html" %}

{% block content %}
<center>
    <h2 style="margin: 30px;">Create pizzas for The Pizza Shop's Menu</h2>
    
    {% if submitted %}
    <p>Your pizza was added to the menu!</p>
    <a class="btn btn-primary; btn btn-outline-secondary" href="{% url 'list_pizzas' %}" role="button">Return to Pizza List</a>

    {% else %}
    <div style="margin: 0 auto">
    <form action="" method=POST>
        {% csrf_token %}        
        {{ form.as_p }}
        
        <p style="font-size: 14px; font-weight: bold;">**Hold the Ctrl/⌘ key to select multiple toppings**</p>
        
        
        <input style="margin-top: 10px;"type="submit" value="Add Pizza" class="btn btn-secondary">
    </div>
    </form>
    {% endif %}
</center>
{% endblock %}