{% extends "pizza/base.html" %}

{% block content %}
<center>
    <h1 style="margin-top: 30px;">Add Toppings for Pizzas</h1>
    <br><br>
    {% if submitted %}
    <h2>Your pizza topping was added to the menu!</h2>

    <a class="btn btn-primary; btn btn-outline-secondary" href="{% url 'list_toppings' %}" role="button">Return to Toppings List</a>

    {% else %}
    <form action="" method=POST>
        {% csrf_token %}

        {{ form.as_p }}
        <input type="submit" value="Add Topping" class="btn btn-secondary btn-sm">
    </form>
    {% endif %}
</center>
{% endblock %}