{% extends "pizza/base.html" %}

{% block content %}
<h1 style="padding-top: 100px; text-align: center; position: static;">Hello Chef!</h1>

<h2 style="padding-top: 100px; text-align: center; position: static;">Welcome to Pizzaria SM. Click Toppings in the navigation bar to see our toppings List
    or Pizzas to view Pizzaria SM's list of unique pizzas! <br>
    You will also be able to add or remove toppings while viewing the toppings list. As well as update, delete,
    or create your own unique pizzas while viewing the list of pizzas!
</h2>

{% endblock %}