{% extends "pizza/base.html" %}

<!--Rather than create user logins for chefs or owners, this home page lays out who is responsible for what and where objects are located.
This also lays out what functions each "user" can do. The instructions reflect the requirements for this project-->
{% block content %}
<h1 style="margin: 50px; text-align: center; position: static;">Welcome to The Pizza Shop</h1>

<div class="container">
    <div class="row">
      <div class="col" style="margin: 30px;">
        <h4 style="text-align: center; margin-right: 30px; margin-bottom: 15px;">Owners</h4>
        <p style="text-align: left;">Click the "Shop Owner" drop down to add, update, or remove pizza toppings!</p>
      </div>
      <div class="col" style="margin: 30px;">
        <h4 style="text-align: center; margin-right: 50px; margin-bottom: 15px;">Pizza Chefs</h4>
        <p style="text-align: left;">Click "Pizza Chefs" to make your own pizza, update current menu items, or 86 a pizza. Work with the toppings provided to create masterpieces</p>
      </div>

{% endblock %}