{% extends "pizza/base.html" %}

{% block content %}
<center>

    <h1 style="margin-top: 35px;">{{pizza.name}} </h1><br>
 
    <h3>Toppings</h3><br>

    {% for pizzas in pizza.toppings.all|dictsort:'name' %}
    <p>{{ pizzas.name}}</p>
    {% endfor %}

    <a href="{% url 'update_pizza' pizza.id%}" class="text-secondary"
        style="font-size: 16p; font-weight: bold; margin-right: 10px">Update</a>
    <a href="{% url 'delete_pizza' pizza.id%}" class="text-danger" style="font-size: 16p; font-weight: bold;">Delete</a>

</center>
{% endblock %}