{% extends "pizza/base.html" %}

{% block content %}
<div class="container text-center">
    <h1>List of The Pizza Shop's Toppings</h1>
    <br>

    <div class="container; ALIGN=center">
        <ul style="padding: 0;">
            <div class="container">
                <div class="row">
                    <div class="card-header; col-9"></div>
                    {% for topping in toppings %}
                    <div class="card" style="width: 18rem;">
                        <h4>{{ topping.name }}</a></h4>
                        <a href="{% url 'update_topping' topping.id%}" class="text-secondary" style="font-size: 16p; font-weight: bold;">Update</a>
                        <a href="{% url 'delete_topping' topping.id%}" class="text-danger" style="font-size: 16p; font-weight: bold;">Delete</a>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </ul>
    </div><br>

    <a class="btn btn-primary; btn btn-outline-secondary" href="{% url 'add_toppings' %}" role="button" style="margin-bottom: 30px;"">Add Your Own
        Toppings</a>

</div>

{% endblock %}