.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid rgb(49 49 49 / 13%);
    border-radius: 0.25rem;
    margin: 5px;
}

/* section label {
    display: none;
} */

#id_name {
    width: 220px;
    margin-left: 25px;
}

#id_toppings {
    width: 220px;
}

.container {
    max-width: 1000px;
}

.form-control {
    align-items: center;
}